body{
    font-family: sans-serif;
}

h1{
    text-align: center;
    color: #bb8f35;
    margin: 30px 0 50px;
    font-family: 'Marck Script', cursive;
}

.gallery{
    margin: 10px 50px;
}

.gallery img{
    width: 230px;
    padding: 5px;
    filter: grayscale(100);
    transition: 1s;

}

.gallery img:hover{
    filter: grayscale(0);
    transform: scale(1.1);

}