body{
    margin: 0;
    padding: 0;
    background-size: cover;
    background-position: bottom;

}

.container{
    height: 60vh;
    width: 100%;
    background: rgba(64, 112, 118, 0.3);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    border: 12px;
    border-radius: 10px;
}

.container h1{
    font-style: italic;
    color: #e5e5e5;
    margin-top: 60px;
    font-size: x-large;
}

.container p{
    color: #e5e5e5;
    position: center;
    font-style: oblique;

}