@import url('https://fonts.googleapis.com/css2?family=Marck+Script&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Chango&family=Marck+Script&display=swap');


.nav-link:hover {
    font-weight: 600;
    border-bottom: 1px solid #fff;

}  .navbar {
    font-family: 'Marck Script', cursive;
    font-size: xx-large;

    position: relative;

}

.nav-link {

    color: rgba(206, 163, 14, 0.7) !important;
}
