{% extends 'shared/base.html' %}
{% load static %}
{% block content %}
    <link rel="stylesheet" href="{% static 'css/style.css' %}"/>

    <style>
    body{
        background: linear-gradient(120deg, rgba(185, 99, 41, 0.55), rgba(134, 67, 161, 0.53));

    }
    </style>
    <div class="container">
        <div class="row justify-content-center m-2">
            {% for p in post %}

            <div class="col-md-8">
                    <div class="card m-5 p-2" style="width: 40rem;">
                        <img src="{{ p.image.url }}" class="card-img-top" alt="...">
                    </div>
                <span><a href="{% url 'post to comment' p.id %}" style="background-color: deepskyblue ;" class="btn btn-primary m-1">Click here to share your thoughts with us! Check out what other think about us as well! Thank you!</a></span>
                </div>
            {% endfor %}

        </div>
    </div>


{% endblock %}