{% extends 'shared/base.html' %}
{% load static %}
{% block content %}
    {% block extrahead %}
    <link rel="stylesheet" href="{% static "css/testimonials.css" %}">
    {% endblock %}
    <link rel="stylesheet" href="{% static 'css/style.css' %}"/>

{% if testimonials %}

    <div class="row">
        {% for t in testimonials %}
            <div class="col-lg-4">
                <div class="card" style="width: 18rem;">
                    <img class="card-img-top" src="{{ t.image.url }}" alt="" width="50"
                 height="200">
                    <div class="card-body">
                        <h5 class="card-title">{{ t.title }}</h5>
                        <p class="card-text">{{ t.user }}</p>
                        <a href="{% url 'testimony details'  t.id%}" class="btn btn-primary">See details</a>
                    </div>
                </div>
            </div>
        {% endfor %}
    {% else %}
    <h1>There are no testimonials</h1>
    {% endif %}
    </div>


{% endblock %}
