{% extends 'shared/base.html' %}
{% load static %}
{% block content %}
    <link rel="stylesheet" href="{% static 'css/style.css' %}"/>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.2.0/css/all.css" integrity="sha384-hWVjflwFxL6sNzntih27bfxkr27PmbbK/iSvJ+a4+0owXq79v+lsFkW54bOGbiDQ" crossorigin="anonymous">
    <div class="d-flex">
        <div class="d-inline p-2 w-50">
            <img src="{{ testimonial.image.url }}" class="w-50 rounded mx-auto d-block">
        </div>
        <div class="center">
            <div class="d-flex justify-content-between">

                <h5><strong>User:</strong> {{ testimonial.user.email }}</h5>
            </div>
            <p class="mt-2"><strong>Testimony</strong>: {{ testimonial.testimony }}</p>
            {% if is_user %}
                <div>
                    <a href="{% url 'edit testimony' testimonial.id %}" class="btn btn-primary">Edit</a>
                    <a href="{% url 'delete testimony' testimonial.id %}" class="btn btn-danger">Delete</a>
                </div>
            {% else %}
                <a href="{% url 'like testimony' testimonial.id %}">
                        <i class="fa fa-heart" aria-hidden="true"></i>
                </a>
                <p class="mt-2">Likes: {{ testimonial.likes_count }}</p>
            {% endif %}
        </div>
    </div>


{% endblock %}