{% extends 'shared/base.html' %}
{% block content %}
{% load static %}
{% block extrahead %}
    <link rel="stylesheet" href="{% static "css/gallery.css" %}">
{% endblock %}

<link rel="stylesheet" href="{% static 'css/style.css' %}"/>
    <style>
    body{
        background: linear-gradient(120deg, #93908d, rgba(134, 67, 161, 0.29));
    }
    </style>


<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Gallery</title>
</head>
<body>
<h1>Check out our amazing gallery!</h1>
    <div class="gallery">
        <a href="{% static 'images/avenue01big.jpg' %}"><img src="{% static "images/avenue01small.jpg" %}"></a>
        <a href="{% static 'images/avenue02big.jpg' %}"><img src="{% static "images/avenue02small.jpg" %}"></a>
        <a href="{% static 'images/avenue03big.jpg' %}"><img src="{% static "images/avenue03small.jpg" %}"></a>
        <a href="{% static 'images/avenue04big.jpg' %}"><img src="{% static "images/avenue04small.jpg" %}"></a>
        <a href="{% static 'images/avenue05big.jpg' %}"><img src="{% static "images/avenue05small.jpg" %}"></a>
        <a href="{% static 'images/avenue06big.jpg' %}"><img src="{% static "images/avenue06small.jpg" %}"></a>
        <a href="{% static 'images/avenue07big.jpg' %}"><img src="{% static "images/avenue07small.jpg" %}"></a>
        <a href="{% static 'images/avenue08big.jpg' %}"><img src="{% static "images/avenue08small.jpg" %}"></a>
    </div>


</body>
</html>
{% endblock %}