{% extends 'shared/base.html' %}
{% block content %}
{% load static %}
{% block extrahead %}
    <link rel="stylesheet" href="{% static "css/prices.css" %}">
{% endblock %}

<link rel="stylesheet" href="{% static 'css/style.css' %}"/>
    <style>
        body {
            background-image: url("{% static 'images/prices.jpg' %}");
        }
    </style>

    <div class="container">
    <h1>
        <strong>Цялостно планиране, организация и координация на сватбено събитие: 3200лв</strong>
        <hr>
    </h1>
    <p>

        Ето и част от услугите, които се включват в пакета “Цялостна организация на сватбени събития”:
        Опознавателна среща – консултация
        Изготвяне на идеен проект за Вашето мечтано събитие
        Оптимално разпределение на заложения бюджет спрямо предпочитанията Ви
        Съставяне на график на работата във времето до събитието
        Избор на локация за провеждане на събитието
        Периодични срещи с Вашия сватбен агент
        Представяне, ангажиране и координация на най-подходящите сватбени професионалисти и услуги за Вашето събитие: DJ-и, водещи, фотографи, оператори, инструменталисти и вокални изпълнители, пироефекти, артистична програма, аниматори и занимания за най-малките гости, превозни средства под наем, настаняване на гостите, кетъринг услуги, оборудване под наем и др.
        Организация и изготвяне на индивидуален сценарии за изнесен ритуал. Асистиране при подаването на документи за граждански брак и венчавка
        Съвети и асистиране при избора на сватбено меню, сватбена торта и алкохол за празника
        Запазване на час за грим и прическа
        Консултация и помощ при избора на облекло, ангажиране на стилист, съвети при избора на брачни халки и аксесоари
        Изготвяне на цялостна визия за декорацията на Вашата сватба.
        Изработка и поддръжка на сватбен сайт в някои от най-популярните сватбени платформи
        Съвети при избора и организация на Вашата семейна благотворителна кауза
        Координация в сватбения ден
    </p>

    </div>


{% endblock %}