{% extends 'shared/base.html' %}
{% load static %}
{% block content %}
    <link rel="stylesheet" href="{% static 'css/style.css' %}"/>
    <style>
    body{
        background: linear-gradient(120deg, #b96329, rgba(134, 61, 117, 0.51));
    }
    </style>
    <div class="text-center">
        <h1>Hello, {{ request.user }}!</h1>
        <h5>This is your profile</h5>
        {% if profile.profile_image %}
            <img class="rounded-circle mb-3" src="{{ profile.profile_image.url }}" alt="" width="140"
                 height="140">
        {% else %}
            <img class="rounded-circle mb-3" src="{% static 'images/default_profile_pic.jpg' %}" alt="" width="140"
                 height="140">
        {% endif %}
        <div class="w-50 m-auto">
            <form action="{% url 'profile details' %}" method="post" enctype="multipart/form-data">
                {% csrf_token %}
                {{ form }}
                <div>
                <button class="btn btn-success">Update Profile</button> <a href="{% url 'create testimony' %}" class="btn btn-success">Add Testimonial</a>
                </div>
            </form>
        </div>
    </div>
    <hr>
    {% if testimonials %}
        <h2 class='text-center'>These are your testimonials</h2>
        <div class="row">
            <div class="row">
                {% for t in testimonials %}
                    <div class="col-lg-4">
                        <div class="card" style="width: 18rem;">
                            <img src="{{ t.image.url }}" class="card-img-top" alt="...">
                            <div class="card-body">
                                <h5 class="card-title">{{t.title}}</h5>
                                <p class="card-text">{{ t.testimony }}</p>
                                <p class="card-text"><strong>Owner: {{ request.user }}</strong></p>
                                <a href="{% url 'testimony details' t.id %}" class="btn btn-primary">See details</a>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    {% else %}
        <div class="text-center">
            <h2>You have no testimonials</h2>

        </div>
    {% endif %}

{% endblock %}