{% extends 'shared/base.html' %}

{% block content %}
{% load static %}
    <link rel="stylesheet" href="{% static 'css/style.css' %}"/>

    <div class="d-block" style="background-color: #F9F1E1 ; padding:2%">
        {% if comments %}
            {% for comment in comments %}
                <div class="box">
                    <h5><u>{{ comment.user }}</u>: <em>{{ comment.text }}</em></h5>
                    <hr>
                </div>
            {% endfor %}
        {% else %}
            <div class="box">
                <h3>There are no comments for this pet. </h3>
            </div>
        {% endif %}
            <div class="box">
                <form method="post" action="{% url 'add comment' post.id %}">
                    {% csrf_token %}
                    {{ comment_form }}
                    <button class="btn btn-primary mt-2" type="submit">Add comment</button>
                </form>

            </div>
            </div>

{% endblock %}
