{% extends 'shared/base.html' %}

{% block content %}
{% load static %}
    {% block extrahead %}
    <link rel="stylesheet" href="{% static "css/comments.css" %}">
    {% endblock %}
    <link rel="stylesheet" href="{% static 'css/style.css' %}"/>


    <div class="d-block">
        {% if comments %}
            {% for comment in comments %}
                <div class="box">
                    <h5><u>{{ comment.user }}</u>: <em>{{ comment.text }}</em></h5>
                <hr>

                </div>
            {% endfor %}
        {% else %}
            <div class="box">
                <h3>There are no comments. </h3>
            </div>
        {% endif %}
            <div class="box">
                <form method="post" action="{% url 'add comment' post.id %}">
                    {% csrf_token %}
                    {{ comment_form }}
                    <input type="submit" value="Add comment">

                </form>
            </div>

            </div>

{% endblock %}
